.page {
    padding-top: 10%;
    width: 100%;
    height: 650px;
    background-color: #F8B200;
    background-image: url(../../Images/cadastro.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 100%;
    display: flex;
}

.txt {
    background-color: #EB5E36;
    width: 14%;
    height: 380px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    border-radius: 10px 0px 0px 10px;
    margin-left:200px;
}

.txt h1 {
    font-size: 40px;
}

.txt p {
    width:auto;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 36px;
}

.img {
    /* margin-leftpx; */
    width: 199px;
    height: 194px;
}

.cadastro {
    height: 380px;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
}

.cadastro h1 {
    font-size: 35px;
    margin-left: 289px;
}

.linha {
    height: 4px;
    width: 100px;
    background-color: #F8B200;
    margin-left: 320px;
}

/* ============================== FORMULARIO ============================== */

.cadastro form {
    background-color: white;
    width: auto;
    height: auto;
    margin-left: 186px;
}

.cadastro input {
    padding: 16px 0px 13px 4px;
    margin-bottom: 10px;
    border-bottom: 2px solid #FFBB09;
    color: #352E67;
    /* font-size: 20px; */
    font-weight: bold;
    font-family: 'poppins';
    width: 363px;
}

.cadastro input::placeholder {
    color: #352E67;
    font-weight: bold;
    font-family: 'poppins';
}

.cadastro p {
    font-size: 10px;
    color: #352E67;
    font-weight: bold;
    font-family: 'poppins';
    width: 190px;
    margin-left: 82px;
}

.textoEBotao {
    display: flex;
}

.cadastro form input[type=image] {
    position: absolute;
    padding: none;
    background: none;
    border-bottom: none;
    width: auto;
    left: 960px;
    top: 420px;
}

.cadastro a,
.cadastro a:hover,
.cadastro a:active,
.cadastro a:visited {
    text-decoration: underline;
    text-decoration-color: #FFBB09;
}