/*---------------------COISAS GERAIS/ PADRÕES---------------------*/
.projetoPT2 {
    /* background:red; */
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

/*---------------------PARTE ESQUERDA---------------------*/
.projetoPT2Esquerda {
    width: 50vw;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background:red; */
}

.blocoTexto {
    width: 31.32vw;
    height: auto;
    border-radius: 10px;
    padding-top: 9.5vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocoTexto h1 {
    font-size: 3.9vh;
    text-align: center;
    margin-bottom: 7.9vh;
}

.blocoTexto div {
    /* height:0.2vh; */
    height: 0.2vh;
    width: 9.2vw;
    background: #FF9900;
    margin-bottom: 11.5vh;
}

.blocoTexto p {
    width: 25.3vw;
    font-size: 2.3vh;
    text-align: center;
    margin-bottom: 5.7vh;
}

/*---------------------PARTE DIREITA---------------------*/
.projetoPT2Direito {
    /* background: black; */
    width: 50vw;
    height: 100%;
    display: grid;
    /* grid-template-columns: 25vw 25vw; */
    grid-template-columns: auto auto;
    grid-template-rows: 34.37vh 27.86vh auto;
    grid-gap: 0px;
}

.TextoEsquerdo1 {
    /* background:yellow; */
    font-size: 2.6vh;
    width: auto;
    height: 2.8vh;
    /* padding-top:17.18vh; */
    margin-right: 0.7vw;
    margin-top:18vh;
    text-align: right;
}

.background1 {
    /* background: red; */
    width: 22.65vw;
    height: 25.36vh;
    background: url(../../Images/CaixaComida.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 5.6vh;
}

.background2 {
    /* background: green; */
    width: 19.45vw;
    height: 27.86vh;
    background: url(../../Images/HomemDoando.png) no-repeat;
    background-size: 100% 100%;
    margin: 0vh 1.25vw 0vh 2.10vw;
    /* margin-bottom:11.58vh; */
}

.TextoEsquerdo2 {
    /* background: yellow; */
    font-size: 2.6vh;
    width: auto;
    height: 2.8vh;
    margin-top:14.97vh;
}

.TextoEsquerdo3 {
    /* background: yellow; */
    font-size: 2.6vh;
    width: auto;
    height: 2.8vh;
    text-align:right;
    margin-top:11.58vh;
}

.background3 {
    /* background: blue; */
    width:28.04vw;
    height:25.49vh;
    background:url(../../Images/criançaComendo.png) no-repeat;
    background-size:100% 100%;
}