/* PADRÕES de texto */
.projetoPT1 {
    width: 100vw;
    height: 83.33vh;
    display: flex;
    flex-direction: row;
    /* background: blue; */
}

.tituloH1 {
    font-size: 9.11vh;
    font-family: 'poppins';
    font-weight: bold;
}

.textoTamanho1 {
    font-size: 3.25vh;
    font-family: 'poppins';
    font-weight: normal;
}

.corRoxa {
    color: #352E67;
}

.corVermelha {
    color: #EB5E36;
}

/* LADO ESQUERDO PROJETO PARTE 1 */
.headerInvisivel {
    width: 100vw;
    height: 4rem;
}

.projetoPT1Esquerda {
    /* background: yellow; */
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-left: 11.71vw;
    padding-top: 20.96vh;
}

.projetoPT1Esquerda h1 {
    width: 25.62vw;
    text-align: center;
    margin-bottom: 3.1rem;
}

.projetoPT1Esquerda p {
    width: 39vw;
}

/* LADO DIREITO PROJETO PARTE 1 */
.projetoPT1Direito {
    /* background-color: green; */
    background: url(../../Images/BGProjeto.png) no-repeat;
    background-size: 100% 100%;
    width: 50vw;
}