/* GERAL */
.ApoiadoresPT3{
    width:100vw;
    height:80.4vh;
    /* background:blue; */
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ApoiadoresPT3 h1{
    font-size:6.5vh;
    font-weight: bold;
    /* background:yellow; */
    text-align:center;
    width:auto;
    margin-bottom:6.25vh;
}
/* QUADRO APOIADORES */
.containerApoiadores{
    /* background:green; */
    /* height:63vh; */
    width:86.56vw;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerApoiadores div{
    /* background:red; */
    width:22.81vw;
    height:32.68vh;
    border-radius:20px;
    margin-top: 14.9vh;
    margin-bottom: 9.2vh;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerApoiadores div img{
    height:32.68vh;
    width:19.5vw;
    margin-left: 1.6vw;
}