.Apoiadores{
    /* background-color: aquamarine; */
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    flex-direction: column;
    margin: auto;
    height: 400px;
    /* background-color:red; */
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgb(56, 56, 56);
    background-color:#FDA81B;
}
.containerCards{
    width: 90%;
    margin: auto;
    height: 400px;
    /* background-color:blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 30%;
    height: 350px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 5px;
}

.icone{
    width: 100px;
    height: 100px;
    background-color: red;

}