.Home {
    width:100%;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #FF9900; */

}
.esquerda{
    width: 40%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.esquerda h1{
    font-size: 70px;
}

.CarrosselContainer{
    background-color: #FF9900;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 310px;
}
.CarrosselContainer img{
    width: 340px;
    height:310px ;
}
.btn{
    width: 100px;
    height: 35px;
    background-color: #EB5E36;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
}