.headerInvisivel {
    width: 100vw;
    height: 4rem;
    /* background:red; */
}

.VoluntarioPT1 {
    background: #008000;
    width: 100vw;
    height: 36.6rem;
    background:url(../../Images/BGVoluntario.png) no-repeat;
    background-size:100%;
    display:flex;
    flex-direction:row;
    ;
}

.VoluntarioPT1 p{
    font-size:2.5rem;
    font-weight:bold;
    color:#352E67;
    padding-top: 19rem;
    margin-left: 12.5rem;
    margin-right: 6.1rem;
}

.containerFotografias{
    width:27,6rem;
    height: 23.1rem;
    margin: 12.1rem 0rem 0rem 0rem;
}

.containerFotografias img{
    width: 100%;
    height: 100%;
}