/* PADRÕES DE ESCRITA */
.tituloh1{
    color:#000;
    font-size:70px;
    text-decoration:none;
    margin-top: 10.1rem;
    margin-bottom: 9.1rem;
}

.tituloh2{
    color:#000;
    font-size:45px;
    font-weight: normal;
    margin-bottom: 6.75rem;
}

.tituloh3{
    font-size:35px;
    text-decoration:none;
    color:#352E67;
    margin-bottom: 1.1rem;
}

.tituloTamanho1{
    font-size:25px;
    color:#000;
    margin-bottom: 3.3rem;
}

.linha{
    color:#000;
}
/* =================================== */

.VoluntarioPT2{
    width:100vw;
    height:99rem;
    background:url(../../Images/BGVoluntarios2.png) no-repeat bottom;
    background-size:100vw;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.folhetoVoluntario{
    width:64.37rem;
    height: 88.8rem;
    background: url(../../Images/folhetoVoluntario.png) no-repeat;
    background-size:100%;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    text-align:center;
}

.textos{
    text-align: left;
    /* background: blue; */
    align-items:center;
    width: 80%;
    margin-left: 8rem;
}