header {
    width: 100vw;
    height: 4rem;
    background: #fff;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 5;

}

.logo {
    width: 12.4rem;
    height: 4rem;
    margin-left: 3.9vw;
    margin-right: 8.5vw;
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 100vw;
    height: 4rem;
}

.menu ul {
    display: flex;
    align-items: center;
    padding: 0px;
    height: 100%;
    justify-content: space-evenly;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
}

.menu a:link,
a:visited {
    color: #352E67;
}

.menu a:hover, li:hover {
    color: #FD4A0A;
    transition: 0.1s;
    border-bottom:3px solid #FD4A0A;
}

/* =====================MENU HOVER============================= */
.menuDropdowns {
    /* background: red; */
    width: auto;
    height: 4rem;
    display: block;
}

.menuDropdowns ul li div {
    position: absolute;
    background: #fff;
    border: 2px solid #352E67;
    border-radius: 0.6rem;
    width: 21vw;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
    top: 3rem;
    right: 3rem;
    display: flex;
    flex-direction: column;
    display:none;
}

.menuDropdowns ul li div a {
    margin: 0px 1.25rem 1.25rem 1.25rem;
    font-size: 3vh;
}

.menuDropdowns ul li:hover div{
    display:flex;
    flex-direction:column;
}

.menuDropdowns ul li div a:hover{
    border-bottom: 2px solid #FD4A0A;
    transition:0.1s;
    animation-direction: alternate;
}