header {
    width: 100vw;
    height: 6.8rem;
    background: #837BBB;
    /* background-color: blue; */
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items:center;
    z-index: 5;

}

.logo {
    width: 12.5rem;
    height: 4.5rem;
    margin-left: 2.4rem;
    margin-right: 7.5rem;
    /* background-color:green; */
}

.logo img {
    width: 100%;
    height: 100%;
}

.menu {
    width: 72vw;
    /* height: 100%; */
    /* background-color: red; */
    /* align-items: center; */
}

.menu ul {
    display: flex;
    /* align-items: center; */
    /* height: 100%; */
    justify-content: space-between;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Poppins';
    cursor: pointer;
}

.menu a:link, a:visited{
    color:#352E67;
}

.menu a:hover {
    color:#FD4A0A;
    transition:0.3s;
    text-decoration:underline;
}